@tailwind base;
@tailwind components;
@tailwind utilities;

/* layer base is inserted after the base style, apply is so we can use utility class short cut if we have individually value set style in class */
@layer base {
    @font-face {
    font-family: Oswald;
    src: url(/dist/fonts/Oswald/Oswald-Bold.ttf) format("truetype");
    }
    body {
        /* @apply h-screen debug-screens bg-gradient-to-b from-gray-100 to-gray-400; */
    }
    .typo {
        @apply prose prose-xl max-w-min prose-red tablet:prose-lg desktop:prose-sm;
    }
    h2 {
        font-size: 2em !important;
    }
    .container {
        @apply mx-auto;
    }
    .btn {
        @apply px-3 py-2 transition rounded shadow-sm hover:shadow-none;
    }
    .btn-icon {
        @apply flex items-center;
    }
}
